@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./Font/WEB/css/satoshi.css');

*{
  font-family: 'Satoshi-Variable';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
  background: #ECEFF4;
}